#elemento2 {
    display: none;
}

#elemeto3 {
    display: none;
}

.parpadeo {
    color: white;
    animation: parpadeo-animacion 1s steps(5, start) infinite;
    -webkit-animation: parpadeo-animacion 1s steps(5, start) infinite;
}

@keyframes parpadeo-animacion {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes parpadeo-animacion {
    to {
        visibility: hidden;
    }
}